@import url('https://fonts.googleapis.com/css?family=Exo:100,200,300,400,500,600,700|Roboto:100,200,300,400,500,600,700');

/* ---------- Colours ----------*/

.bg-color-name-title {
    background-color: #606060
}

.ui-menu-color {
    background-color: #444444;
}

.ui-footer-color {
    background-color: #000000;
    border: 1px solid #ebebeb;
}

.ui-section-color {
    background-color: #232323;
}

.font-color {
    color: #ebebeb;
}

/* ---------- Special Margins/Paddings/Text ---------- */

h1,
h2,
h3,
h4 {
    margin: 0;  
}

.uppercase {
    text-transform: uppercase;
}

.general-sub {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    color: #ebebeb;
}

/* ---------- Header ----------*/

.col-md-8.lines.heading-menu {
    padding-right: 0;
}

header {
    margin: 0;
}

.header-menu {
    padding-left: 0;
    padding-right: 0;
}

.logo-home {
    background: url("../images/monkees1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.logo-members {
    background: url("../images/monkees2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.logo-history {
    background: url("../images/monkees3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.name {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-size: 46px;
    letter-spacing: 4px;
    text-align: center;
    margin-top:100px;
    margin-bottom: 70px;
    color: #ebebeb;
}

.lines {
    padding-left: 0;
    margin-left: 0;
}

.line {
    background-color: #ebebeb;
}

.title {
    font-family: "Exo", sans-serif;
    font-weight: 200;
    font-size: 28px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
    color: #ebebeb;
}

.list-inline-item:not(:last-child) {
    margin: 0;
}

.menucontainer {
    font-size: 0;
}

#nav {
    margin: 0;
}

#nav li {
    font-size: 14px;
    padding: 0;
}

.menuitem {
    height: 120px;
    text-align: center;
    padding: 0;
    border: 1px solid #ebebeb;
}

.menuitem a {
    width: 100%;
    text-decoration: none;
    color: #ebebeb;
    height: 120px;
}

.menuitem a i {
    padding-top: 22px;
    display: block;
    font-size: 26px;
}

.menuitem span {
    display: block;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
}

.heading-menu {
    padding-left: 0px;
    padding-right: 0px;
}

header div div .col-md-8 {
    padding-right: 0px;
}

/* ---------- Hover.css ---------- */

.hvr-sweep-to-bottom:before {
    background: rgba(0, 0, 0, 0.2);
    height: 120px;
}

/* ---------- Home Section ---------- */

.section-heading {
    color: #ebebeb;
    font-family: "Exo", sans-serif;
    font-weight: 200;
}

.section-paragraph {
    color: #ebebeb;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    margin-top: 1rem;
}

/* ---------- Members Section ---------- */

.members-border {
    border-right: 1px solid #ebebeb;
}

img {
    height: 200px;
    margin-top: 60px;
    margin-left: 80px;
    margin-bottom: 30px;
}

.members-heading {
    font-family: "Exo",sans-serif;
    font-weight: 300;
    text-align: center;
}

.members-paragraph {
    color: #ebebeb;
    font-family: "Roboto",sans-serif;
    margin-top: 30px;
    font-size: 1em;
}

/* ---------- History Section ---------- */

body {
    background-color: #232323;
}

.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

.timeline:after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

.history-container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

.history-container:after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -13px;
    background-color: #ebebeb;
    border: 4px solid #606060;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

.left {
    left: 0;
}


.right {
    left: 50%;
}

.left:before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid #606060;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #606060;
}

.right:before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid #606060;
    border-width: 10px 10px 10px 0;
    border-color: transparent #606060 transparent transparent;
}

.right:after {
    left: -13px;
}

.content {
    padding: 20px 30px;
    background-color: #606060;
    position: relative;
    border-radius: 6px;
}

@media screen and (max-width: 600px) {
    .timeline:after {
        left: 31px;
    }
  
    .history-container {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }
  
    .history-container:before {
        left: 60px;
        border: medium solid #606060;
        border-width: 10px 10px 10px 0;
        border-color: transparent #606060 transparent transparent;
    }

    .left::after, .right::after {
        left: 15px;
    }
  
    .right {
        left: 0%;
    }
}

/* ---------- Footer ---------- */

footer {
    min-height: 80px;
    position: fixed;
    width: 100%;
    left: 0px;
    bottom: -27px;
}

footer .footer-links {
    margin: 0;
    padding-left: 90px;
    overflow: hidden;
    list-style-type: none;
    
}

footer .footer-links li {
    float: left;
}

footer .footer-links li a {
    display: block;
    color: #ebebeb;
    text-align: center;
    padding: 15px 15px 5px 5px;
    text-decoration: none;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 2px;
}

footer .social-links {
    padding-left: 110px;
}

.footer-quote {
    color: #ebebeb;
    text-align: center;
}

.footer-quote p {
    font-style: italic;
    padding: 0;
    margin: 0;
}

.social-links {
    padding-bottom: 15px;
    padding-left: 15px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    background-color: #606060;
}

.timeline-width {
    margin-bottom: 50px;
}

/* ---------- Media Queries ---------- */

@media (max-width: 775px) {
    .title {
        font-size: 15px;
        text-align: center;
        margin-top: 40px;
        margin-right: 60px;
        padding-left: 50px;
    }
    
    section {
        min-height: 445px;
    }
    
    .section-home-size {
        min-height: 445px;
    }
    
    .welcome-paragraph {
        margin-top: 45px;
        margin-bottom: 45px;
    }
    
    .footer-menu {
        padding-left: 0;
        padding-right: 0;
    }
    
    footer .footer-links {
        padding-left: 45px;
    }
}

@media (max-width: 375px) {
    .name {
        margin-left: 25px;
        margin-right: 25px;
    }
    
    .title {
        font-size: 10px;
        margin-right: 20px;
        padding-left: 25px;
    }
    
    .welcome-paragraph {
        font-size: 14px;
    }
    
    footer .footer-links {
        padding-left: 57px;
    }
}